# pkce (recommended) or oauth
SPOTIFY_AUTH_MODE=pkce

SPOTIPY_CLIENT_ID=your_client_id_here
SPOTIPY_CLIENT_SECRET=your_client_secret_here
SPOTIPY_REDIRECT_URI=http://127.0.0.1:9090

YTMUSIC_CLIENT_ID=your_google_client_id_here
YTMUSIC_CLIENT_SECRET=your_google_client_secret_here

AUTO_PROXY=true
